<div class="main-container h-100" >
  <!-- Edit Button -->
  <%= link_to "New Budget", new_budget_path, class: "action-btn mt1" %>
  <% @budgets.each do |budget| %>
    <div class="budget-card">
      <%= link_to budget_expenses_path(budget) do %>

        <strong>
          <p class="month-b"><%= budget.month %></p>
        </strong>

        <div class="budget-details">
          <% if budget.at_zero? %>
            <p> -$<%= budget.total_amount %></p>
            <i class="fa-solid fa-heart-crack"></i>
          <% else %>
            <p> +$<%= budget.total_amount %></p>
            <i class="fa-solid fa-hand-holding-dollar"></i>
          <% end %>

          <%# else statement for icon if not zero %>
        </div>

      <% end %>
    </div>
  <% end %>
</div>
