<div class="container">
  <div class="chart">
   <p>BUDGET:<%= @budget.remaining_budget %></p>
   <p>TOTAL EXPENSES:<%= @budget.total_expenses %></p>
  <h1>for <%= @budget.month %></h1>
  <p><%= @budget.weekly_expenses %></p>
  <p>EXPENSES BY CATEGORY: <%=  %></p>
  </div>
</div>
