<div class="container">
  <div class="chart">
   <p>BUDGET:<%= @budget.remaining_budget %></p>
   <p>TOTAL EXPENSES:<%= @budget.total_expenses %></p>
  <h1>for <%= @budget.month %></h1>
  <p>EXPENSES BY CATEGORY:</p>
  <% @budget.expenses_by_category.each do |category, total| %>
  <p><%= category.name %> <%= number_to_currency(total) %></p>
  <% end %>
  </div>
</div>
