<div class="container h-100">
  <div class="show">
    <h1><%= @budget.month.upcase %></h1>
    <p>BUDGET: $<%= @budget.remaining_budget %></p>
    <p>TOTAL EXPENSES: $<%= @budget.total_expenses %></p>

    <%= pie_chart @budget.expenses
               .joins(:category)
               .group('categories.name')
               .sum(:amount)
               .map { |category_name, total_amount| [category_name, total_amount] },
               donut: true %>

    <div class="expenses-category">
      <h2>EXPENSES BY CATEGORY:</h2>
      <div id="categoryCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @budget.expenses_by_category.each_with_index do |(category, total), index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <p><%= category.name %>: <%= number_to_currency(total) %></p>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#categoryCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#categoryCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <% @budget.expenses.each do |expense| %>
      <div class="action-btn">
        <%= expense.amount %> : <%= expense.category.name %>
      </div>
    <% end %>
  </div>

</div>
