<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%# <%= image_tag "https://i.pinimg.com/474x/af/55/ef/af55ef6c4c0099913b25990bdebec696.jpg" %>
    <%# <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <%# <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          <%# </li>
          <li class="nav-item">
            <%= link_to "History", budgets_path, class: "nav-link" %>
          <%# </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
          <%# </li>
          <li class="nav-item dropdown">
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
             <%= link_to "History", budgets_path, class: "dropdown-item" %>
              <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%# <% link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            <%# </div> %>
          <%# </li>
        <% else %>
          <%# <li class="nav-item"> %>
            <%# <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <%# </li> %>
        <%# <% end %>
      <%# </ul> %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
<% if current_user %>
<footer class="mobile-footer">
  <div class="footer-content">
    <%= link_to edit_user_registration_path(current_user.id) do %>
    <div class="footer-item">
      <i class="fas fa-user-circle"></i>
      <p>USER</p>
    </div>
    <% end %>
    <%= link_to budget_expenses_path(current_user.budgets.last.id) do %>
    <div class="footer-item">
      <i class="fas fa-chart-line"></i>
      <p>EXPENSES</p>
    </div>
    <% end %>
    <div class="footer-item">
    <%= link_to new_budget_expense_path(current_user.budgets.last.id) do %>
      <i class="fas fa-plus-circle"></i>
      <p>ADD EXPENSE</p>
      <% end %>
    </div>
    <div class="footer-item">
    <%= link_to budgets_path do %>
      <i class="fas fa-wallet"></i>
      <p>BUDGET</p>
      <% end %>
    </div>
    <div class="footer-item">
      <i class="fas fa-bullseye"></i>
      <p>GOALS</p>
    </div>
  </div>
</footer>
<% end %>
