
<% if current_user %>

<footer class="mobile-footer">
  <div class="footer-content">
    <%= link_to edit_user_registration_path(current_user.id) do %>
    <div class="footer-item">
      <i class="fas fa-user-circle"></i>
      <p>USER</p>
    </div>
    <% end %>
    <%= link_to budget_expenses_path(current_user.budgets.last.id) do %>
    <div class="footer-item">
      <i class="fas fa-chart-line"></i>
      <p>EXPENSES</p>
    </div>
    <% end %>
    <div class="footer-item">
    <%= link_to new_budget_expense_path(current_user.budgets.last.id) do %>
      <i class="fas fa-plus-circle"></i>
      <p>ADD EXPENSE</p>
      <% end %>
    </div>
    <div class="footer-item">
    <%= link_to budgets_path do %>
      <i class="fas fa-wallet"></i>
      <p>BUDGET</p>
      <% end %>
    </div>
    <div class="footer-item">
    <%= link_to goals_path do %>
      <i class="fas fa-bullseye"></i>
      <p>GOALS</p>
      <% end %>
    </div>
  </div>
</footer>
<% end %>
