
<% if current_user.budgets.last.total_amount.zero? || current_user.budgets.last.total_amount.negative? %>
<div class="broke">

<p>CONGRATS HOMIE, you're broke</p>
</div>
<% end %>
<div class="container">
<div class="chart-container">

  <div class="chart">
    <% chart_labels = ["TOTAL EXPENSES", "REMAINING BUDGET"] %>
    <% chart_data = [@total_expenses, @remaining_budget] %>
  <div data-controller="chart" data-chart-labels-value="<%= chart_labels.to_json%>"
                               data-chart-data-value="<%= chart_data.to_json%>"
                              >
    <canvas data-chart-target="canvas" width="200" height="200">


  </div>
  </div>
  <% if @goal %>
<div class="progress-container mt-5">
  <p class="progress-text">
    YOU HAVE MADE <%= @goal.target_progress.round(2) %>% PROGRESS TOWARDS YOUR <%= @goal.title.upcase %> TARGET
  </p>
  <div class="progress-bar-wrapper">
    <div class="progress-bar" style="width: <%= @goal.target_progress.round(2) %>%;"></div>
  </div>
</div>


  <% end %>
</div>



</div>
