  <div class="main-container h-100" >
    <div class="create-a-goal">
    <%= link_to "NEW GOAL", new_goal_path, class: "action-btn"%>
    </div>
      <% @goals.reverse.each do |goal| %>
    <div class="show">
    <div class="page-wrapper">
          <%# <p><%= current_user.total_saved %></p>
          <div class="goal-container">
            <p><%= goal.description %></p>
            <h2><%= goal.title.upcase %></h2>
            <% if goal.target_progress >= 100 %>
            <div class="glitch">
            <h4 class="electric-blue-flame">
            <br>
            <%= link_to "READY TO PURCHASE", new_budget_expense_path(current_user.budgets.last, goal_achieved: true, goal_id: goal.id), class: "electric-blue-flame" %>
            </h4>
            </div>
            <br>
            <p><i class="fa-solid fa-bullseye"></i>   <%= goal.target_amount %></p>
            <p><i class="fa-solid fa-calendar-days"></i>   <%= goal.due_date.strftime("%B %d, %Y") %></p>
          <% elsif goal.achieved %>
            <div class="glitch">
            <h4 class="electric-blue-flame">
            <br>
            SUCCESS
            </h4>

            </div>
          <% else %>
            <strong>
              <h1 class="target-progress"><%= goal.target_progress.round(0) %>%</h1>
            </strong>
            <br>
            <p><i class="fa-solid fa-bullseye"></i>   $<%= goal.target_amount %></p>
            <p><i class="fa-solid fa-calendar-days"></i>   <%= goal.due_date.strftime("%B %d, %Y") %></p>
          <% end %>
          </div>
      </div>
    </div>
      <% end %>
  </div>
