  <div class="container h-100" >
    <div class="create-a-goal">
    <%= link_to "NEW GOAL", new_goal_path, class: "budget-btn"%>
    </div>
      <% @goals.each do |goal| %>
    <div class="show">
    <div class="page-wrapper">
          <%# <p><%= current_user.total_saved %></p>
          <div class="goal-container">
            <p><%= goal.description %></p>
            <h2><%= goal.title.upcase %></h2>
            <strong>
              <h1 class="target-progress"><%= goal.target_progress.round(0) %>%</h1>
            </strong>
            <p><i class="fa-solid fa-bullseye"></i>   <%= goal.target_amount %></p>
            <p><i class="fa-solid fa-calendar-days"></i>   <%= goal.due_date %></p>
          </div>
      </div>
    </div>
      <% end %>
  </div>
