  <div class="container h-100" >
    <div class="create-a-goal">
    <%= link_to "NEW GOAL", new_goal_path, class: "budget-btn"%>
    </div>
      <% @goals.each do |goal| %>
    <div class="show">
          <p><%= goal.title.upcase %></p>
          <p><%= goal.target_progress %>%</p>
          <p><%= current_user.total_saved %></p>
          <p><%= goal.target_amount %></p>
          <p><%= goal.description %></p>
          <p><%= goal.due_date %></p>
    </div>
      <% end %>
  </div>
