<div class="container">
  <div class="add-container">
    <div class="category">
    </div>
     <%= simple_form_for [@goal] do |f| %>
    <div class="price">
        <%= f.input :title %>
        <%= f.input :target_amount %>
        <%= f.input :description %>
        <%= f.input :due_date %>
    <div class="expense-btn">
        <%= f.submit "SUBMIT", class: "budget-btn" %>
    </div>
    </div>
    <% end %>
  </div>
  <%= link_to "BACK", root_path, class: "budget-btn" %>
</div>
