<%= turbo_frame_tag :expenses do %>
<div class="container">
  <div class="add-container">
    <div class="category">
    </div>
    <div class="price">
     <%= simple_form_for (@expense) do |f| %>
        <%= f.input :amount %>

        <%= f.association :category, collection: Category.where(user: current_user)  %>

    </div>
    <div class="action-btn">
        <%= f.submit "SUBMIT", class: "btn btn-primary action-btn" %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
