<%= turbo_frame_tag :expenses do %>
  <div class="container h-25">
    <!-- Header Section -->
    <div class="show">
      <p><%= @budget.month.upcase %></p>
        <div class="price-container">
          Total: <span>$</span><%= number_to_currency(@expenses.sum { |expense| expense.amount.to_i }, unit: "") %>

          <p><strong>HUSTLER AI:</strong> <%= @feedback %></p>
        </div>
      </div>
    </div>

    <!-- Expenses List -->
    <div class="travis-card">
      <% if @expenses.any? %>
        <% @expenses.each do |expense| %>
            <p><%= number_to_currency(expense.amount) %></p>
            <p><%= expense.description %></p>
            p
            <p><%=  %></p>
            <div class="travis-buttons">
              <!-- Edit Button -->
              <%= link_to "Edit", edit_expense_path(expense), class: "travis-button edit" %>
              <!-- Delete Button -->
              <%= link_to "Delete", expense_path(expense),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: "travis-button delete" %>
            </div>
        <% end %>
      <% else %>
        <p class="no-expenses-message">No expenses have been recorded for this month.</p>
      <% end %>
    </div>

    <!-- Add Expense Button -->
    <div class="button-container">
      <%= link_to "Add Expense", new_budget_expense_path(@budget.id), class: "action-btn" %>
    </div>
  </div>
<% end %>
