<div class =container>
<h1> <%= @budget.month %></h1>
<% @expenses.each do |expense|%>
    <%= expense.category.name %>
   <p>$ <%= expense.amount %></p>
    <%= expense.description %>
    <%= expense.date %>
    <%= link_to "Delete",
  expense_path(expense),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
    <% end %>

</div>
