<%= turbo_frame_tag :expenses do %>
  <div class="container h-25">
    <!-- Header Section -->
    <div class="show">
      <p><%= @budget.month.upcase %></p>
        <div class="price-container">
          Total: <span>$</span><%= number_to_currency(@expenses.sum { |expense| expense.amount.to_i }, unit: "") %>

          <p><strong>HUSTLER AI:</strong> <%= @feedback %></p>
        </div>
      </div>
    </div>

    <!-- Expenses List -->
    <div class="travis-card">
      <% if @expenses.any? %>
        <% @expenses.each do |expense| %>
            <div class="travis">
              <div class="travis-info">
                <p><%= number_to_currency(expense.amount) %></p>
                <p><%= expense.description %></p>
              </div>
              <div class="travis-buttons">
                <!-- Edit Button -->
                <%= link_to edit_expense_path(expense), class: "travis-button edit" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
                <!-- Delete Button -->
                <%= link_to expense_path(expense),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                    class: "travis-button delete" do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              </div>
            </div>
            <hr>
        <% end %>
      <% else %>
        <p class="no-expenses-message">No expenses have been recorded for this month.</p>
      <% end %>
    </div>

    <!-- Add Expense Button -->
  </div>
<% end %>
