<div class="pack-container">
  <div class="header">
    <p class="title">
      <%= @budget.month %>
    </p>
    <div class="price-container">
      Total:
      <span>$</span><%= number_to_currency(@expenses.sum { |expense| expense.amount.to_i }, unit: "") %>
    </div>
  </div>

  <div>
    <% if @expenses.any? %>
      <div class="expense-lists">
        <% @expenses.each do |expense| %>
          <div class="list">
            <div class="expense-info">
              <p><strong>Category:</strong> <%= expense.category.name %></p>
              <p><strong>Amount:</strong> <%= number_to_currency(expense.amount) %></p>
              <p><strong>Description:</strong> <%= expense.description %></p>
              <p><strong>Date:</strong> <%= expense.date %></p>
              <div class="button-container">
                <%= link_to "Edit", edit_expense_path(expense), class: "edit-button" %>
                <%= link_to "Delete",
                  expense_path(expense),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: "delete-button" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="no-expenses-message">No expenses have been recorded for this month.</p>
    <% end %>
  </div>

  <div class="button-container">
    <%= link_to "Add Expense", new_budget_expense_path, class: "add-expense-button" %>
  </div>
</div>
