<%= turbo_frame_tag :expenses do %>
  <div class="container h-25">
    <!-- Header Section -->
      <h1 class="text-center mt-3"><%= @budget.month.upcase %></h1>
    <div class="show">
      <div class="price-container">
       <h1 class="text-center mb-3"> Total: <span>$</span><%= number_to_currency(@expenses.sum { |expense| expense.amount.to_i }, unit: "") %></h1>

        <p>HUSTLER AI:</p>
        <p><%= @feedback %></p>
      </div>
      <%= pie_chart @budget.expenses
               .joins(:category)
               .group('categories.name')
               .sum(:amount)
               .map { |category_name, total_amount| [category_name, total_amount] },
               donut: true %>

      <div class="expenses-category">
        <h2>EXPENSES BY CATEGORY:</h2>
        <div id="categoryCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% @budget.expenses_by_category.each_with_index do |(category, total), index| %>
              <div class="carousel-item <%= 'active' if index == 0 %>">
                <p><%= category.name %>: <%= number_to_currency(total) %></p>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Expenses List -->
  <% if @expenses.any? %>
    <% @expenses.each do |expense| %>
      <div class="travis-card">
        <div class="travis">
          <div class="travis-info">
            <p><%= expense.category.name %></p>
            <h2 class="my-3"><%= number_to_currency(expense.amount) %></h2>
            <p><%= expense.description %></p>
          </div>
          <div class="travis-buttons">
            <!-- Edit Button -->
            <%= link_to edit_expense_path(expense), class: "travis-button edit" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <!-- Delete Button -->
            <%= link_to expense_path(expense),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                    class: "travis-button delete" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="no-expenses-message">No expenses have been recorded for this month.</p>
  <% end %>

  <!-- Add Expense Button -->
</div>
<% end %>
