<div class="container">
  <div class="add-container">
    <div class="category">
     <%#= link_to "",  %>
    </div>
    <div class="price">
     <%= simple_form_for [@budget, @expense] do |f| %>
        <%= f.input :amount %>
        <%= f.input :date  %>
        <%= f.association :category  %>

    </div>
    <div class="expense-btn">
        <%= f.submit "SUBMIT", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
