<%= turbo_frame_tag :expenses do %>
<div class="container h-100">
  <div class="show-wrapper" style="width: 350px; margin: 0 auto;"> <!-- Constrained width -->
    <div class="flame-background"></div> <!-- Flame GIF -->
    <div class="flame-show">
      <p></strong> <%= @expense.category.name %></p>
      <h1 class="text-center"><strong></strong> $<%= @expense.amount %></h1>
      <p><strong></strong> <%= @expense.description %></p>
      <% if params[:goal_achieved] %>
      <h4>Congrats Hustler, you achieved a goal!</h4>

      <% end %>
        <h2 class="blue-flame-2">TRAVIS:<h3>

      <p class="blue-flame">
        <span><%= @ai_feedback %></span>      </p>
    </div>
  </div>
</div>
<% end %>
