<%= turbo_frame_tag :expenses do %>
<div class="container h-100">
  <div class="show-wrapper" style="width: 350px; margin: 0 auto;"> <!-- Constrained width -->
    <div class="flame-background"></div> <!-- Flame GIF -->
    <div class="flame-show">
      <p><strong>Amount:</strong> $<%= @expense.amount %></p>
      <p><strong>DESCRIPTION:</strong> <%= @expense.description %></p>
      <p><strong>CATEGORY:</strong> <%= @expense.category.name %></p>
        <h3 class="blue-flame"><strong>TRAVIS:</strong><h3>
        <br>
      <p class="blue-flame">
        <span><%= @ai_feedback %></span>      </p>
    </div>
  </div>
</div>
<% end %>
